/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
out/
resources/public/js/
figwheel_server.log
*.iml
.idea
node_modules
/shells/chrome/manifest.json
/releases
.shadow-cljs
.DS_Store
shells/chrome/js
.cpcache
shells/electron/js
