{:paths
 ["src/client" "src/ui" "src/chrome" "src/electron" "devcards" "workspaces" " test" "resources"]

 :deps
 {binaryage/devtools         {:mvn/version "0.9.10"}
  org.clojure/clojurescript  {:mvn/version "1.10.773"}
  thheller/shadow-cljs       {:mvn/version "2.11.25"} ; 2.12 req. cljs 1.10.844, where goog.debug.Logger.Level stops existing
  com.cognitect/transit-cljs {:mvn/version "0.8.264"}
  com.wsscode/pathom         {:mvn/version "2.2.26"}
  com.wsscode/pathom-viz     {:mvn/version "1.0.6"}
  devcards                   {:mvn/version "0.2.4"}
  fulcrologic/fulcro         {:mvn/version "2.8.11"}
  fulcrologic/fulcro-spec    {:mvn/version "2.1.3"}
  com.taoensso/sente         {:mvn/version "1.15.0"}
  com.taoensso/encore        {:mvn/version "2.117.0"}
  gnl/ghostwheel             {:mvn/version "0.3.8"}
  nubank/workspaces          {:mvn/version "1.0.8" :exclusions [fulcrologic/fulcro-inspect]}
  org.clojure/core.async     {:mvn/version "0.4.490"}
  spec-coerce                {:mvn/version "1.0.0-alpha5"}}}
