{:manifest_version        2
 :name                    "Fulcro Inspect"
 :version                 "1.0.17"
 :description             "Developer tool to inspect Fulcro applications. Fulcro is a web development framework that uses React and Clojurescript. This extensions adds inspection capabilities for Fulcro developers, capabilities as: inspecting the current state of the client UI database, tracking of transactions triggered by the application, network connections with deserialized transit/edn, and a built-in query runner to test your Fulcro network setup. Follow instructions to setup your application at: https://github.com/fulcrologic/fulcro-inspect."

 :icons                   {"16"  "icon-16.png"
                           "32"  "icon-32.png"
                           "48"  "icon-48.png"
                           "128" "icon-128.png"}

 :shadow/outputs          {:content-script
                           {:chrome/options {:matches ["<all_urls>"]
                                             :run_at  "document_idle"}
                            :entries        [fulcro.inspect.chrome.content-script.main]}

                           :background
                           {:chrome/options {:persistent false}
                            :entries        [fulcro.inspect.chrome.background.main]}}

 :permissions             ["file:///*" "http://*/*" "https://*/*"]
 :externally-connectable  {:ids ["*"]}

 :content-security-policy ["default-src 'self';"
                           "script-src 'self' 'unsafe-eval' http://localhost:9630;"
                           "connect-src * data: blob: filesystem:;"
                           "style-src 'self' data: chrome-extension-resource: 'unsafe-inline';"
                           "img-src 'self' data: chrome-extension-resource:;"
                           "frame-src 'self' data: chrome-extension-resource:;"
                           "font-src 'self' data: chrome-extension-resource:;"
                           "media-src * data: blob: filesystem:;"]

 :browser-action          {:default-icon  {"16"  "icon-16-disabled.png"
                                           "32"  "icon-32-disabled.png"
                                           "48"  "icon-48-disabled.png"
                                           "128" "icon-128-disabled.png"}
                           :default-popup "popups/disabled.html"}

 :devtools-page           "devtools.html"}
